@model BEBChampionship.Models.ViewModel.EditPlayerStatsViewModel

<h2>Edit Player Stats</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label for="GolfCourse">Golf Course</label>
        <input type="text" class="form-control" id="GolfCourse" name="GolfCourse" value="@Model.GolfCourse" />
    </div>

    <div class="form-group">
        <label for="Score">Score</label>
        <input type="number" class="form-control" id="Score" name="Score" value="@Model.Score" />
    </div>

    <div class="form-group">
        <label for="NetScore">Net Score</label>
        <input type="number" class="form-control" id="NetScore" name="NetScore" value="@Model.NetScore" />
    </div>

    <div class="form-group">
        <label for="FIRPercentage">FIR%</label>
        <input type="number" class="form-control" id="FIR" name="FIR" value="@Model.FIR" />
    </div>

    <div class="form-group">
        <label for="GIRPercentage">GIR%</label>
        <input type="number" class="form-control" id="GIR" name="GIR" value="@Model.GIR" />
    </div>

    <div class="form-group">
        <label for="PuttsPerRound">Putts per Round</label>
        <input type="number" class="form-control" id="PuttsPerRound" name="PuttsPerRound" value="@Model.PuttsPerRound" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
</form>
